<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="matchMapper">
	
	<!-- SELECT -->
	<!-- 결제정보 불러오기 -->
	<select id="selectMatch" parameterType="Match" resultType="StadiumSubscription">
	    SELECT S.STADIUM_NAME AS stadiumName,
	    		S.STADIUM_ADDRESS AS stadiumAddress,
	    		S.STADIUM_CATEGORY AS category,
	    		M.MEM_NAME AS referee
	    FROM STADIUM S
	    JOIN MEMBER M ON M.MEM_NO = S.MEM_NO
	    WHERE STADIUM_NO = #{stadiumNo}
	</select>
	
	<select id="selectMatchA" parameterType="Match" resultType="StadiumSubscription">
	    SELECT TEAM_NAME AS teamName
	    FROM TEAM
	    WHERE TEAM_NO = #{teamANo}
	</select>

	<select id="selectMatchB" parameterType="Match" resultType="StadiumSubscription">
	    SELECT TEAM_NAME AS opponent,
	    		CONCAT(
		            COUNT(*) , '전 ',
		            CASE 
		                WHEN COUNT(CASE WHEN M.SCORE_A &gt; M.SCORE_B THEN 1 END) &gt; 0 
		                    THEN CONCAT(COUNT(CASE WHEN M.SCORE_A &gt; M.SCORE_B THEN 1 END), '승')
		                ELSE ''
		            END,
		            ' ',
		            CASE 
		                WHEN COUNT(CASE WHEN M.SCORE_A = M.SCORE_B THEN 1 END) &gt; 0 
		                    THEN CONCAT(COUNT(CASE WHEN M.SCORE_A = M.SCORE_B THEN 1 END), '무')
		                ELSE ''
		            END,
		            ' ',
		            CASE 
		                WHEN COUNT(CASE WHEN M.SCORE_A &lt; M.SCORE_B THEN 1 END) &gt; 0 
		                    THEN CONCAT(COUNT(CASE WHEN M.SCORE_A &lt; M.SCORE_B THEN 1 END), '패')
		                ELSE ''
		            END
		        ) AS result
		FROM TEAM
		WHERE TEAM_NO = #{teamANo}
	</select>
	
    
    <!-- UPDATE -->
    <!-- 베스트 플레이어 선정   #{memNo} #{matchNo} #{bestMNo} -->
    <update id="updateVoteStatus">
	    UPDATE MATCH_BEST
	    SET VOTE_STATUS = NOW()
	    WHERE MATCH_NO = #{matchNo} AND MEM_NO = #{memNo}
	</update>
	
	<update id="incrementVoteCount">
	    UPDATE MATCH_BEST
	    SET MEM_NO_VOTE_COUNT = MEM_NO_VOTE_COUNT + 1
	    WHERE MATCH_NO = #{matchNo} AND MEM_NO = #{bestMNo}
	</update>
    
</mapper>