<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="placeMapper">
    
    <!-- 구장 리뷰 -->
    <insert id="insertPReview">
    	INSERT INTO STADIUM_REVIEW (
		    REVIEW_CONTENT,
		    REVIEW_STAR,
		    PLACE_NO,
		    MEM_NO,
		    REVIEW_DATE
		)
		VALUES (
		    #{reviewContent},
		    #{reviewStar},
		    #{placeNo},
		    #{memNo},
		    NOW()
		)
    </insert>
</mapper>