<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- !namespace : 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="stadiumMapper">
    <!-- Insert -->
    <insert id="insertStadium" parameterType="Stadium" useGeneratedKeys="true" keyProperty="stadiumNo">
        insert into stadium(
            MEM_NO,
            STADIUM_NAME,
            STADIUM_ADDRESS,
            STADIUM_POSTCODE,
            STADIUM_SCORE,
            STADIUM_PRICE,
            STADIUM_CATEGORY,
            STADIUM_START_TIME,
            STADIUM_END_TIME
        )values(
            #{memNo},
            #{stadiumName},
            #{stadiumAdd},
            #{stadiumZipcode},
            #{stadiumScore},
            #{stadiumPrice},
            #{stadiumCategory},
            #{stadiumStartTime},
            #{stadiumEndTime}
        )
    </insert>
<!--
    Java의 char형으로만 확인 가능 String 타입일 경우 문자로 인식 못함
-->
    <insert id="insertAmenities" parameterType="Amenities">
        insert into stadium_am(
        <trim suffixOverrides=",">
            STADIUM_NO,
            <if test="toilet == 'Y'">
                TOILET,
            </if>
            <if test="shower == 'Y'">
                SHOWER,
            </if>
            <if test="smoke == 'Y'">
                SMOKE,
            </if>
            <if test="park == 'Y'">
                PARK,
            </if>
            <if test="drink == 'Y'">
                DRINK
            </if>
        </trim>
        )values(
        <trim suffixOverrides=",">
            #{stadiumNo},
            <if test="toilet == 'Y'">
                #{toilet},
            </if>
            <if test="shower == 'Y'">
                #{shower},
            </if>
            <if test="smoke == 'Y'">
                #{smoke},
            </if>
            <if test="park == 'Y'">
                #{park},
            </if>
            <if test="drink == 'Y'">
                #{drink}
            </if>
        </trim>
        )
    </insert>
    <insert id="insetRental" parameterType="Rental">
        insert into stadium_rental(
        <trim suffixOverrides=",">
            STADIUM_NO,
            <if test="ball == 'Y'">
                BALL,
            </if>
            <if test="vest == 'Y'">
                VEST
            </if>
        </trim>
        )values(
        <trim suffixOverrides=",">
            #{stadiumNo},
            <if test="ball == 'Y'">
                #{ball},
            </if>
            <if test="vest == 'Y'">
                #{vest},
            </if>
        </trim>
        )
    </insert>
<!--
    foreach : parameterType이  list 혹은 Array 때 사용
        - collection : 전달받은 인자값(list || array)
        - item :  전달받은 인자값을 alias명으로 대체
        - open : 구문 시작시 삽입할 문자열
        - close : 구문 종료시 삽입할 문자열
        - separator : 반복 되는 사이에 출력할 문자열
        - index : 반복되는 구문 번호(0부터 순차적으로 증가)
 -->
    <insert id="insertStadiumAttachment">
        insert into STADIUM_IMG(
        STADIUM_NO,
        ORIGIN_NAME,
        CHANGE_NAME,
        FILE_PATH,
        FILE_TYPE
        )values
        <foreach collection="list" item="attachment" separator=",">
            (
            #{attachment.stadiumNo},
            #{attachment.originName},
            #{attachment.changeName},
            #{attachment.filePath},
            #{attachment.fileType}
            )
        </foreach>

    </insert>
    <select id="loginMember" parameterType="Member" resultType="Member">
        select MEM_NO as memNo,
        MEM_EMAIL as memEmail,
        MEM_PWD as memPwd,
        MEM_NAME as memName,
        MEM_ADD as memAdd,
        MEM_GENDER as memGender,
        MEM_PHONE as memPhone,
        MEM_STATUS as memStatus,
        MEM_RANK as memRank,
        MEM_ENROLL_DATE as memEnrollDate,
        MEM_BIRTH as memBirth
        from member
        where MEM_EMAIL = #{memEmail}
        and MEM_STATUS in('Y','M','A')
    </select>
    <insert id="insertMember" parameterType="Member" useGeneratedKeys="true" keyProperty="memNo">
        INSERT INTO MEMBER(
        MEM_EMAIL,
        MEM_PWD,
        MEM_NAME,
        MEM_GENDER,
        MEM_ADD,
        MEM_BIRTH,
        MEM_PHONE,
        MEM_STATUS)
        VALUES(
        #{memEmail},
        #{memPwd},
        #{memName},
        #{memGender},
        #{memAdd},
        #{memBirth},
        #{memPhone},
        #{memStatus}
        )
    </insert>
    <insert id="insertProfile" parameterType="Profile">
        INSERT into PROFILE_FILE(
        <if test="memNo > 0">
            mem_no,
        </if>
        <if test="teamNo > 0">
            team_no,
        </if>
        ORIGIN_NAME,
        CHANGE_NAME,
        FILE_PATH
        )
        values(
        <if test="memNo > 0">
            #{memNo},
        </if>
        <if test="teamNo > 0">
            #{teamNo},
        </if>
        #{originName},
        #{changeName},
        #{filePath}
        )
    </insert>
    <insert id="insertCategory" parameterType="Category">
        insert into category(
        <trim suffixOverrides=",">
            MEM_NO,
            <if test="socPosition != null">SOC_POSI,</if>
            <if test="socSkill != null">SOC_ABILITY,</if>
            <if test="futPosition != null">FOOT_POSI,</if>
            <if test="futSkill != null">FOOT_ABILITY,</if>
            <if test="basketPosition != null">BASKET_POSI,</if>
            <if test="basketSkill != null">BASKET_ABILITY,</if>
            <if test="basePosition != null">BASE_POSI,</if>
            <if test="baseSkill != null">BASE_ABILITY</if>
        </trim>
        ) values(
        <trim suffixOverrides=",">
            #{memNo},
            <if test="socPosition != null">#{socPosition},</if>
            <if test="socSkill != null">#{socSkill},</if>
            <if test="futPosition != null">#{futPosition},</if>
            <if test="futSkill != null">#{futSkill},</if>
            <if test="basketPosition != null">#{basketPosition},</if>
            <if test="basketSkill != null">#{basketSkill},</if>
            <if test="basePosition != null">#{basePosition},</if>
            <if test="baseSkill != null">#{baseSkill}</if>
        </trim>
        )
    </insert>
</mapper>