<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- !namespace : 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="teamMapper">
    
    <select id="selectListCount" resultType="_int">
        SELECT COUNT(*)
        FROM TEAM_BOARD
        WHERE STATUS = 'Y'
        AND TEAM_NO = #{teamNo}
    </select>
    
     <!-- 구단 게시글 조회 -->
	 <select id="selectList" parameterType="map" resultType="Team">
	    SELECT b.BOARD_NO AS boardNo,
	           b.TITLE AS title,
	           m.MEM_NAME AS memName,
	           b.CREATE_DATE AS createDate,
	           b.VIEW AS view,
	           b.TYPE AS type
	    FROM TEAM_BOARD b
	    JOIN MEMBER m ON b.MEM_NO = m.MEM_NO
	    WHERE b.STATUS = 'Y'
	      AND b.TEAM_NO = #{teamNo}
	    ORDER BY b.BOARD_NO DESC
	</select>
	
	<!-- 구단 인원 목록 -->
	<select id="selectMemberList" resultType="TeamMember">
	    SELECT tm.TEAM_NO AS teamNo,
	           tm.MEM_NO AS memNo,
	           tm.MEM_ENROLL_DATE AS memEnrollDate,
	           m.MEM_NAME AS memName,
	           CASE 
	               WHEN t.TEAM_TYPE = '축구' THEN c.SOC_POSI
	               WHEN t.TEAM_TYPE = '농구' THEN c.BASKET_POSI
	               WHEN t.TEAM_TYPE = '풋살' THEN c.FOOT_POSI
	               WHEN t.TEAM_TYPE = '야구' THEN c.BASE_POSI
	           END AS position,
	           CASE 
	               WHEN t.TEAM_TYPE = '축구' THEN c.SOC_ABILITY
	               WHEN t.TEAM_TYPE = '농구' THEN c.BASKET_ABILITY
	               WHEN t.TEAM_TYPE = '풋살' THEN c.FOOT_ABILITY
	               WHEN t.TEAM_TYPE = '야구' THEN c.BASE_ABILITY
	           END AS ability
	      FROM TEAM_MEMBER tm
	      JOIN MEMBER m ON tm.MEM_NO = m.MEM_NO
	      JOIN TEAM t ON tm.TEAM_NO = t.TEAM_NO
	      JOIN CATEGORY c ON m.MEM_NO = c.MEM_NO
	     WHERE tm.TEAM_NO = #{teamNo}
	</select>
	
	<!-- 게시글 내용 가져오기 -->
	<select id="detailList" resultType="TeamBoard">
		 SELECT b.TITLE AS title,
	           m.MEM_NAME AS memName,
	           b.CREATE_DATE AS createDate,
	           b.VIEW AS view,
	           b.LIKE_COUNT AS likeCount,
	           b.CONTENT AS content,
	           b.BOARD_NO AS boardNo,
	           b.TYPE AS type
	    FROM TEAM_BOARD b
	    JOIN MEMBER m ON b.MEM_NO = m.MEM_NO
	    WHERE b.STATUS = 'Y'
	    AND b.BOARD_NO = #{bno}
	</select>
	
	<!-- 댓글 내용 가져오기 -->
	<select id="commentList" resultType="TeamBoardComment">
		SELECT b.COM_NO AS comNo,
			   b.REF_TEAM_BOARD_NO AS refTeamBoardNo,
			   m.MEM_NAME AS memName,
			   b.COM_CREATE_DATE AS comCreateDate,
			   b.COM_MODIFY_DATE AS comModifyDate,
			   b.STATUS AS status,
			   b.COM_PARENT_NO AS comParentNo,
			   b.COM_CONTENT AS comContent
		 FROM TEAM_BOARD_COMMENT b
	    JOIN MEMBER m ON b.MEM_NO = m.MEM_NO
	    WHERE REF_TEAM_BOARD_NO = #{bno}
	</select>
	
	<!-- 댓글 수 계산 -->
    <select id="commentCount" resultType="_int">
        SELECT COUNT(*)
        FROM TEAM_BOARD_COMMENT
        WHERE REF_TEAM_BOARD_NO = #{bno}
    </select>
	
	<!-- 게시글 생성 -->
	<insert id="createBoard">
	  	INSERT INTO TEAM_BOARD (
		    TITLE,
		    MEM_NO,
		    CONTENT,
		    TYPE,
		    CREATE_DATE
		)
		VALUES (
		    #{title},
		    1,
		    #{content},
		    #{type},
		    NOW()
		)
	  </insert>
	  
	  <!-- 게시글 생성 -->
	<update id="updateBoard">
	    UPDATE BOARD
	    SET 
	        TITLE = #{title},
	        CONTENT = #{content},
	        TYPE = #{type},
	        CREATE_DATE = NOW()
	    WHERE 
	        BOARD_NO = #{boardNo} <!-- 보통 게시글 ID를 기준으로 수정 -->
	</update>
	
</mapper>