<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>


    <typeAliases>
        <typeAlias type="com.kh.sportsmate.member.model.vo.Member" alias="Member"/>
        <typeAlias type="com.kh.sportsmate.Attachment.model.vo.Profile" alias="Profile"/>
        <typeAlias type="com.kh.sportsmate.member.model.vo.Category" alias="Category"/>
        <typeAlias type="com.kh.sportsmate.member.model.vo.Category" alias="LoginLog"/>
        <typeAlias type="com.kh.sportsmate.admin.model.dto.ChartDateDto" alias="ChartDateDto"/>
        <typeAlias type="com.kh.sportsmate.admin.model.vo.MemberPenalty" alias="MemberPenalty"/>
    </typeAliases>


    <mappers>
        <mapper resource="mappers/member-mapper.xml"/>
        <mapper resource="mappers/admin-mapper.xml"/>
    </mappers>


</configuration>