<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>


    <typeAliases>
        <typeAlias type="com.kh.sportsmate.member.model.vo.Member" alias="Member"/>
        <typeAlias type="com.kh.sportsmate.Attachment.model.vo.Profile" alias="Profile"/>
        <typeAlias type="com.kh.sportsmate.member.model.vo.Category" alias="Category"/>
     	<typeAlias type="com.kh.sportsmate.match.model.vo.Match" alias="Match"/>
        <typeAlias type="com.kh.sportsmate.board.model.vo.Board" alias="Board"/>
        <typeAlias type="com.kh.sportsmate.team.model.vo.Team" alias="Team"/>
        <typeAlias type="com.kh.sportsmate.team.model.vo.TeamBoard" alias="TeamBoard"/>
        <typeAlias type="com.kh.sportsmate.team.model.vo.TeamMember" alias="TeamMember"/>
        <typeAlias type="com.kh.sportsmate.place.model.vo.PlaceReview" alias="PlaceReview"/>
        <typeAlias type="com.kh.sportsmate.team.model.vo.TeamBoardComment" alias="TeamBoardComment"/>
        <typeAlias type="com.kh.sportsmate.team.model.vo.Recruit" alias="Recruit"/>
    	<typeAlias type="com.kh.sportsmate.board.model.vo.BoardComment" alias="BoardComment"/>
    	<typeAlias type="com.kh.sportsmate.member.model.vo.Member" alias="Member"/>
    </typeAliases>


    <mappers>
        <mapper resource="mappers/board-mapper.xml"/>
        <mapper resource="mappers/team-mapper.xml"/>
        <mapper resource="mappers/member-mapper.xml"/>
        <mapper resource="mappers/place-mapper.xml"/>
        <mapper resource="mappers/match-mapper.xml"/>
    </mappers>


</configuration>