<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <!-- common -->
        <!-- Member -->
        <typeAlias type="com.kh.sportsmate.member.model.vo.Member" alias="Member"/>
        <typeAlias type="com.kh.sportsmate.member.model.dto.MemberModifyDto" alias="MemberModifyDto"/>
        <typeAlias type="com.kh.sportsmate.member.model.dto.MemberPositionDto" alias="MemberPositionDto"/>
        <typeAlias type="com.kh.sportsmate.member.model.vo.Category" alias="Category"/>
        <typeAlias type="com.kh.sportsmate.member.model.vo.LoginLog" alias="LoginLog"/>
        <typeAlias type="com.kh.sportsmate.admin.model.dto.ChartDateDto" alias="ChartDateDto"/>
        <typeAlias type="com.kh.sportsmate.admin.model.vo.MemberPenalty" alias="MemberPenalty"/>
        <typeAlias type="com.kh.sportsmate.member.model.dto.MemberEnrollDto" alias="MemberEnrollDto"/>

        <!-- Match -->
        <typeAlias type="com.kh.sportsmate.match.model.vo.Match" alias="Match"/>
        <typeAlias type="com.kh.sportsmate.match.model.dto.StadiumSubscription" alias="StadiumSubscription"/>
        <typeAlias type="com.kh.sportsmate.match.model.vo.MatchBest" alias="MatchBest"/>
        <typeAlias type="com.kh.sportsmate.match.model.vo.MatchQna" alias="MatchQna"/>
        <typeAlias type="com.kh.sportsmate.match.model.dto.MyMatch" alias="MyMatch"/>

        <!-- Attachment -->
        <typeAlias type="com.kh.sportsmate.Attachment.model.vo.Profile" alias="Profile"/>
        <typeAlias type="com.kh.sportsmate.admin.model.dto.BlockProfileDto" alias="BlockProfileDto"/>

        <!-- Stadium -->
        <typeAlias type="com.kh.sportsmate.stadium.model.vo.Stadium" alias="Stadium"/>
        <typeAlias type="com.kh.sportsmate.stadium.model.vo.Amenities" alias="Amenities"/>
        <typeAlias type="com.kh.sportsmate.stadium.model.vo.Rental" alias="Rental"/>
        <typeAlias type="com.kh.sportsmate.stadium.model.vo.Schedule" alias="Schedule"/>
        <typeAlias type="com.kh.sportsmate.stadium.model.vo.Refund" alias="Refund"/>
        <typeAlias type="com.kh.sportsmate.stadium.model.dto.StadiumRefundDto" alias="StadiumRefundDto"/>
        <typeAlias type="com.kh.sportsmate.stadium.model.vo.StadiumReview" alias="StadiumReview"/>
        <typeAlias type="com.kh.sportsmate.stadium.model.vo.StadiumQna" alias="StadiumQna"/>
        <typeAlias type="com.kh.sportsmate.stadium.model.dto.StadiumQnaDto" alias="StadiumQnaDto"/>
        <typeAlias type="com.kh.sportsmate.stadium.model.dto.StadiumDto" alias="StadiumDto"/>
        
        <!-- Board -->
        <typeAlias type="com.kh.sportsmate.board.model.vo.Board" alias="Board"/>
        <typeAlias type="com.kh.sportsmate.board.model.vo.BoardLike" alias="BoardLike"/>
        <typeAlias type="com.kh.sportsmate.board.model.vo.BoardComment" alias="BoardComment"/>
        <typeAlias type="com.kh.sportsmate.board.model.dto.BoardMemberPanalty" alias="BoardMemberPanalty"/>
        <typeAlias type="com.kh.sportsmate.board.model.vo.BoardFile" alias="BoardFile"/>
        <typeAlias type="com.kh.sportsmate.board.model.dto.CommentInfo" alias="CommentInfo"/>

        <!-- Team -->
        <typeAlias type="com.kh.sportsmate.team.model.vo.Team" alias="Team"/>
        <typeAlias type="com.kh.sportsmate.team.model.vo.TeamBoard" alias="TeamBoard"/>
        <typeAlias type="com.kh.sportsmate.team.model.vo.TeamMember" alias="TeamMember"/>
        <typeAlias type="com.kh.sportsmate.team.model.vo.TeamVote" alias="TeamVote"/>
        <typeAlias type="com.kh.sportsmate.team.model.dto.TeamMemberDto" alias="TeamMemberDto"/>
        <typeAlias type="com.kh.sportsmate.team.model.vo.TeamBoardComment" alias="TeamBoardComment"/>
        <typeAlias type="com.kh.sportsmate.team.model.dto.TeamBoardCommentDto" alias="TeamBoardCommentDto"/>
        <typeAlias type="com.kh.sportsmate.team.model.dto.TeamVoteDetailDto" alias="TeamVoteDetailDto"/>
        <typeAlias type="com.kh.sportsmate.team.model.vo.Recruit" alias="Recruit"/>
        <typeAlias type="com.kh.sportsmate.team.model.vo.TeamActivityDays" alias="TeamActivityDays"/>
        <typeAlias type="com.kh.sportsmate.team.model.dto.RecruitListQueryStringDto" alias="RecruitListQueryStringDto"/>
        <typeAlias type="com.kh.sportsmate.team.model.dto.RecruitListDto" alias="RecruitListDto"/>
        <typeAlias type="com.kh.sportsmate.team.model.dto.RecruitDetailDto" alias="RecruitDetailDto"/>
        <typeAlias type="com.kh.sportsmate.team.model.dto.RecruitDto" alias="RecruitDto"/>
        <typeAlias type="com.kh.sportsmate.team.model.dto.TeamInfoDto" alias="TeamInfoDto"/>
        <typeAlias type="com.kh.sportsmate.team.model.dto.MyTeamDto" alias="MyTeamDto"/>
        <typeAlias type="com.kh.sportsmate.team.model.dto.MyRecruitDto" alias="MyRecruitDto"/>
        <typeAlias type="com.kh.sportsmate.team.model.dto.TeamMatchInfoDto" alias="TeamMatchInfoDto"/>

        
    </typeAliases>

    <mappers>
        <mapper resource="mappers/board-mapper.xml"/>
        <mapper resource="mappers/team-mapper.xml"/>
        <mapper resource="mappers/member-mapper.xml"/>
        <mapper resource="mappers/admin-mapper.xml"/>
        <mapper resource="mappers/match-mapper.xml"/>
        <mapper resource="mappers/stadium-mapper.xml"/>
        <mapper resource="mappers/attachment-mapper.xml"/>
    </mappers>

</configuration>
