@charset "UTF-8";
.modal-dialog {
            max-width: 1200px;
            width: 100%;
        }
        .modal-content {
            padding: 20px;
        }
        .input-box {
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            overflow: hidden;
        }
        .row-group {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #e0e0e0;
        }
        .row-group:last-child {
            border-bottom: none;
        }
        .search-group, .type-select-group, .date-time-group {
            display: flex;
            align-items: center;
            padding: 10px;
            border-right: 1px solid #e0e0e0;
        }
        .search-group {
            width: 80%;
        }
        .type-select-group {
            width: 20%;
        }
        .date-time-group {
            flex: 1;
            width: 50%; /* 50% 너비로 설정 */
        }
        .row-group > div:last-child {
            border-right: none;
        }
        .icon {
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
        .calendar-container {
            display: none; /* 초기에는 숨김 */
            justify-content: center;
        }
        
        /* 화면 너비가 480px 이하일 때 스타일 변경 */
		@media screen and (max-width: 480px) {
	    .modal-dialog {
	        max-width: 100%;
	        margin: 0 10px;
	    }
	
	    .modal-content {
	        padding: 10px;
	    }
	
	    .row-group {
	        flex-wrap: wrap;
	        gap: 10px; /* 요소 간격 추가 */
	    }
	
	    .search-group, .type-select-group {
	        width: 100%;
	        padding: 5px;
	        flex: 1;
	    }
	    
	    .date-time-group {
	    	width: 100%;
	        padding: 5px;
	    }
	
	    .icon {
	        width: 16px;
	        height: 16px;
	        margin-right: 5px;
	    }
	
	    .modal-title {
	        font-size: 16px;
	    }
	
	    .form-control, .form-select {
	        font-size: 12px;
	    }
	
	    .calendar-container {
	        padding: 10px;
	    }
	
	    .current-date {
	        font-size: 14px;
	    }
	
	    .weeks li, .days li {
	        font-size: 10px;
	    }
	
	    .days li::before {
	        height: 20px;
	        width: 20px;
	    }
	
	    .btn-close {
	        font-size: 12px;
	    }
	
	    .btn-search {
	        font-size: 14px;
	    }
	}
		