@charset "UTF-8";

.teamcomu-container {
	display: flex;
	max-width: 80%;
	margin: 0 auto;
	gap: 10px; /* 좌우 섹션 간격 */
}

.teamcomu-work-container {
	flex: 3;
	display: flex;
	flex-direction: column;
	gap: 10px; /* A와 B 세션 간격 */
}

.teamcomu-board-container {
	flex: 8;
}

.teamcomu-work {
	background-color: white;
	padding: 15px;
	border: 2px solid #ddd;
}

.teamcomu-work-three {
	display: flex;
	justify-content: space-around;
	padding-top: 15px;
}

.teamcomu-member {
	background-color: white;
	padding: 15px;
	height: 380px;
	overflow-y: auto;
	border: 2px solid #ddd;
}

.teamcomu-teamOut {
	background-color: white;
	padding: 14px;
	height: 50px;
	text-align: center;
	border: 2px solid #ddd;
	
	display: flex;
    align-items: center;
    justify-content: center;
}

.teamcomu-teamOutBtn {
	border: 2px solid #bfbfbf;
	background-color: white;
	color: red;
	font-weight: bold;
	border-radius: 8px;
	width: 80%;
	height: 33px;
}

.teamcomu-member::-webkit-scrollbar {
	width: 8px; /* 스크롤바 너비 */
}

.teamcomu-member::-webkit-scrollbar-thumb {
	background-color: #C6C6C6; /* 스크롤바 색상 */
}

.teamcomu-member::-webkit-scrollbar-track {
	background-color: #f0f0f0; /* 배경 색상 */
}

.teamcomu-board {
	height: 100%;
}

.teamcomu-title-name {
	margin-left: 15px;
}

.teamcomu-work-vote, .teamcomu-work-join, .teamcomu-work-modify, .teamcomu-work-vote-desktop {
	text-align: center;
	border: 1px solid #1D87FA;
	border-radius: 8px;
	cursor: pointer;
}

.teamcomu-wrok-vote-img, .teamcomu-wrok-join-img {
	padding: 10px;
}

.teamcomu-work-vote {
	display: none;
}

#voteModalDesktop .modal-dialog .modal-content {
	width: 1500px;
}

.teamcomu-wrok-modify-img {
	padding: 15px 15px 15px 15px;
}

.teamcomu-title-name {
	padding-bottom: 15px;
}

.teamcomu-table-profile-img {
	width: 40px;
	height: 40px;
	border-radius: 50px;
}

.teamcomu-table-profile {
	padding-right: 15px;
}

.teamcomu-table-point {
	border-bottom: 2px solid #D9D9D9; /* 맨 아래에 가로선 추가 */
}

.teamcomu-table-profile {
	border-bottom: 2px solid #D9D9D9; /* 맨 아래에 가로선 추가 */
}

.teamcomu-app-board-container {
	display: none;
}

.vote-desktop-topContainer {
  display: flex; 
  justify-content: space-between;
  width: 100%;
}

.vote-desktop-topContainer .bd-report-title {
	width: 50%;
	top: 0%;
}

.board-banner img {
	max-height: 300px;
}

@media (max-width: 430px) {

	.teamcomu-work {
		border-style: none;
		border-bottom: 3px solid #ddd;
		border-top: 3px solid #ddd; 
	}
	.teamcomu-member {
		border-style: none;
		border-bottom: 3px solid #ddd;
	}

	  .teamcomu-board-container {
	    display: none;
	  }
	  
	  .board-app-createMove-btn {
	  		padding: 10px 15px;
	    	font-weight: bold;
	    	border: none;
	    	border-radius: 5px;
	    	color: white;
	    	cursor: pointer;
	    	background-color: #007bff;
			display: block;
	}
	
	.teamcomu-app-board-container {
		display: block;	
	}
	
	.teamcomu-work-vote {
		display: block;
	}
	
	.teamcomu-work-vote-desktop {
		display: none;
	}
  
}